
<h1>Listing deals</h1>

<%= form_tag do %>

<table>
  <tr>
  	<th>Adventure</th>
    <th>Predicted Deal type</th>
    <th>Prediction Confidence</th>
    <th>External</th>
    <th>Site</th>
    <th>Name</th>
    <th>Headline</th>
    <th>Picture</th>
    <th>Url</th>
    <th>Deal Type</th>
    <th>Price</th>
    <th>Location</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% tab_index_count=0 %>
<% @dealsArray.each do |deal| %>

<% if deal.nb_diff != nil %>
  <tr>
  	<td><%= check_box_tag "#{deal.external_id}_#{deal.site}" %></td>
    <td><%= deal.predicted_deal_type %></td>

    <% if deal.nb_diff > 10 %>
        <td class="high-confidence"><%= "%.2f" % deal.nb_diff %></td>
    <% elsif deal.nb_diff > 6.6 and deal.nb_diff <= 10 %>
        <td class="med2-confidence"><%= "%.2f" % deal.nb_diff %></td>
    <% elsif deal.nb_diff > 3.3 and deal.nb_diff <= 6.6 %>
        <td class="med1-confidence"><%= "%.2f" % deal.nb_diff %></td>
    <% else %>
        <td class="low-confidence"><%= "%.2f" % deal.nb_diff %></td>
    <% end %>

    <td><%= deal.external_id %></td>
    <td><%= deal.site %></td>
    <td><%= deal.name %></td>
    <td><%= deal.headline %></td>
    <td><%= link_to "deal picture", deal.picture, :target=>"_blank" %></td>
    <td><%= link_to "deal url", deal.url, :target=>"_blank" %></td>
    <td><%= deal.deal_type %></td>
    <td><%= deal.price %></td>
    <td><%= deal.location %></td>

  </tr>
<% tab_index_count+=1 %>
<% end %>

<% end %>
</table>

<br />

<%= submit_tag("Update") %>

<% end %>