<h1><%= @deal_type %></h1>


<% @deals.each do |deal| %>
<div class="deal_class">
    
    <div class="deal_picture">
        <%= link_to image_tag("#{deal.picture}"), deal.url, :target=>"_blank" %> 
    </div>
    <div class="deal_name">
        <%= deal.name %>
    </div>
    <div class="deal_headline">
        <%= link_to "#{deal.headline}",deal.url, :target=>"_blank" %>
    </div>
    <div class="deal_location">
        <%= deal.location %>
    </div>
    <div class="deal_price">
        $<%= deal.price %>
    </div>
</div>

<% end %>


<br />

