<div id="header_left">
    <h1><%= @location_string %></h1>

    <a href="location_select" id="location_select_link" class="lightview" data-lightview-type="inline">Select Location</a>
    <div id="location_select" style="display:none">
        
            <% LocationUrlMap.all.each do |location_row| %>
                <div class="location_link">
                    <%= link_to location_row.location_string, "#{root_url}deals/#{location_row.static_location}/adventure" %>
                </div>
            <% end %>
        
    </div>
</div>

<div id="header_right">
    <h2>
        <% if @deal_type %>
        <%= @deal_type.capitalize %> Deals
        <% end %>
    </h2>
    <span class="small">
        Last updated: <%= time_ago_in_words(@deals.first.updated_at) %> ago
    </span>
</div>


<div id="deals_div">
<% @deals.each do |deal| %>
<div class="deal_class">
    
    <div class="deal_picture">
        <%= link_to image_tag("#{deal.picture}"), deal.url, :target=>"_blank" %> 
    </div>
    <div class="deal_name">
        <%= deal.name %>
    </div>
    <div class="deal_headline">
        <%= link_to "#{deal.headline}",deal.url, :target=>"_blank" %>
    </div>
    <div class="deal_location">
        <%= deal.location %>
    </div>
    <div class="deal_price">
        $<%= deal.price %>
    </div>
    

</div>

<% end %>
</div>

<br />

