<h1><%= @static_location.capitalize %></h1>
<h2>
    <% if @deal_type %>
    <%= @deal_type.capitalize %> Deals
    <% end %>
</h2>


<% @deals.each do |deal| %>
<div class="deal_class">
    
    <div class="deal_picture">
        <%= link_to image_tag("#{deal.picture}"), deal.url, :target=>"_blank" %> 
    </div>
    <div class="deal_name">
        <%= deal.name %>
    </div>
    <div class="deal_headline">
        <%= link_to "#{deal.headline}",deal.url, :target=>"_blank" %>
    </div>
    <div class="deal_location">
        <%= deal.location %>
    </div>
    <div class="deal_price">
        $<%= deal.price %>
    </div>
    <div class="deal_site">
        <% if deal.site=="livingsocial" %>
            <%= content_tag(:span,deal.site, :class=>"livingsocial") %>
        <% elsif deal.site=="groupon" %>
            <%= content_tag(:span,deal.site, :class=>"groupon") %>
        <% elsif deal.site=="google offers" %>
            <%= content_tag(:span,deal.site, :class=>"google-offers") %>
        <% end %>  

    </div>
</div>

<% end %>


<br />

