<p id="notice"><%= notice %></p>

<p>
  <b>External:</b>
  <%= @deal.external_id %>
</p>

<p>
  <b>Site:</b>
  <%= @deal.site %>
</p>

<p>
  <b>Name:</b>
  <%= @deal.name %>
</p>

<p>
  <b>Headline:</b>
  <%= @deal.headline %>
</p>

<p>
  <b>Picture:</b>
  <%= @deal.picture %>
</p>

<p>
  <b>Expiration:</b>
  <%= @deal.expiration %>
</p>

<p>
  <b>Url:</b>
  <%= @deal.url %>
</p>

<p>
  <b>Type:</b>
  <%= @deal.type %>
</p>

<p>
  <b>Price:</b>
  <%= @deal.price %>
</p>

<p>
  <b>Savings:</b>
  <%= @deal.savings %>
</p>

<p>
  <b>Location:</b>
  <%= @deal.location %>
</p>


<%= link_to 'Edit', edit_deal_path(@deal) %> |
<%= link_to 'Back', deals_path %>
