<h1>Listing location_url_maps</h1>

<table>
  <tr>
    <th>Site</th>
    <th>Suffix</th>
    <th>Static location</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @location_url_maps.each do |location_url_map| %>
  <tr>
    <td><%= location_url_map.site %></td>
    <td><%= location_url_map.suffix %></td>
    <td><%= location_url_map.static_location %></td>
    <td><%= link_to 'Show', location_url_map %></td>
    <td><%= link_to 'Edit', edit_location_url_map_path(location_url_map) %></td>
    <td><%= link_to 'Destroy', location_url_map, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Location url map', new_location_url_map_path %>
